# Predicting happiness

## Exploring dataset from country 1 (Colombia)

### 1. Imports:

In [1]:
import pandas as pd
import numpy as np

### STEP Dataset for Colombia:

In [2]:
# Reading the data
Colombia = pd.read_excel('./COL_2012_STEP-HH_v02_M_CSV/STEP Colombia_working.xlsx')

In [3]:
# Taking a look at the data 
Colombia.head()

,other_cluster,cluster,hhn,idcode,m1a_selec,W_FinSPwt,urban,W_FinS,check_digi,litasst,...,asset_q,country,ISCED_dif,W_Unique_Pwt,W_Unique_HHwt,ISCED_needed,write_dif,ma,_merge,econ_sector
0,104,1,4,1,0.148505,6193.177461,1,9588.932617,5.0,1,...,3,Colombia,NaN,6193.177246,1238.635498,NaN,NaN,1,3,NaN
1,109,1,9,1,0.163387,1238.635492,1,2760.643799,0.0,1,...,3,Colombia,1.0,1238.635498,1238.635498,5.0,0.0,1,3,3.0
2,125,1,25,1,0.894068,3715.906477,1,5753.359863,0.0,1,...,3,Colombia,NaN,3715.906494,1238.635498,NaN,NaN,1,3,NaN
3,128,1,28,2,0.879388,9909.083938,1,15342.292969,1.0,1,...,3,Colombia,NaN,9909.083984,4954.541992,NaN,NaN,1,3,NaN
4,210,2,10,1,0.340077,3970.371175,1,6435.691895,3.0,1,...,5,Colombia,1.0,3970.371094,1488.889160,1.0,0.0,1,3,3.0

In [4]:
# Exploring the size of the data  
Colombia.shape

(2617, 1162)

In [5]:
# After exploring the data dictionnary (available here: https://microdata.worldbank.org/index.php/catalog/2012/data-dictionary/F6/?offset=), 
# I identified six categories that I want to include on my analysis of what makes people happy. They are health, weatlh, personality, 
# education, work, other personal characteristic, and family. I looked at the values in most variables, and deleted those that did not belong 
# to either category or that were redundant.

In [6]:
# Below I am selecting the variables that I found to be relevant to my question and not redundant. 
colstep= Colombia [['m1a_q05y','m1a_q08','m1b_q01','m1b_q05', 'm1b_q07', 'm1b_q10','m1b12a','m1b_q19', 'm2_q08_g',
           'm2_q36','m2_q39', 'm3_q01', 'm3_q06', 'm3_q07', 'm4b_q04_1', 'm4b_q01_2', 'm5a_q01_occ_code', 'm5a_q20', 'm7a_q05', 
           'm7a_q12', 'm7a_q14', 'm7a_q15', 'm7a_q17', 'm7a_q23', 'read_work', 'read_outside', 'read', 'write_work', 'write_outside', 'write',
           'num_work', 'num_outside', 'num', 'interpers_ex', 'comp_work', 'comp_outside', 'computer', 'computertype', 'think', 'learn', 
           'cogchall','autonomy', 'repet', 'auto_rep', 'physic', 'extraversion_av', 'conscientiousness_avg', 'openness_av', 
           'stability_av', 'agreeableness_av', 'grit_av', 'decision_av', 'hostile_av', 'risk', 'has_children', 'hh_size', 'gender', 'age',
           'has_spouse', 'chronic', 'shocks_dummy', 'BMI', 'BMI_class', 'parental', 'mother_tongue', 'lm_status', 'inactive', 
           'occupation', 'occtype_step', 'permanent', 'pub_emp', 'm4c_q06','contract', 'benefits', 'informal','earnings_h', 'earnings_h_usd', 
           'ln_earnings_h', 'ln_earnings_h_usd', 'total_hours_week', 'underemp', 'ISCED_p', 'years_educ', 'highest_field_1',
           'asset_index','ISCED_dif', 'country', 'm4a_q01', 'dropout']]

In [7]:
# Creating a name dictionary to replace the name of the columns 
name_dictionary = {'m1a_q05y':	'birth_year', 'm1a_q08' : 'in_school', 'm1b_q01': 'house_type', 'm1b_q05': 'owns_house',
                   'm1b_q07': 'house_beds', 'm1b_q10': 'house_kitchen', 'm1b12a': 'reported_social_status', 'm1b_q19' :	'got_pr_transf',
                   'm2_q08_g':	'highest_formal_ed', 'm2_q36': 'job_sector', 'm2_q39': 'part_in_training', 'm3_q01': 'life_satisfaction', 
                   'm3_q06': 'offdays_ill', 'm3_q07': 'healthinsurance', 'm4b_q04_1': 'firm_econ_act', 'm4b_q01_2': 'main_work', 
                   'm5a_q01_occ_code':	'occupation', 'm4c_q06': 'job_type', 'm5a_q20': 'lowwritting_forjob', 'm7a_q05': 'speak_other_languaje', 
                   'm7a_q12':'lives_w_mother', 'm7a_q14': 'mother_education', 
                   'm7a_q15': 'lives_w_father', 'm7a_q17': 'father_education', 'm7a_q23': 'ses_15','read': 'read_overall', 'write':	'write_overall', 
                   'num': 'numeracy_overall', 'interpers_ex':'client_contact_work', 'computer': 'computer_use_overall', 
                   'computertype': 'software_use', 'think':	'think_at_work', 'learn': 'learn_at_work', 'cogchall': 'think_learn_work',
                   'autonomy':	'autonomy_at_work', 'repet': 'repetitiveness_at_work', 'auto_rep': 'autonomy_repet_work', 
                   'physic': 'physical_demand_work', 'chronic':	'chronic_disease', 'shocks_dummy': 'shocks_bef_15', 'parental':	'parental_involvement', 
                   'lm_status': 'labor_market_status', 'inactive' :	'inactive_status', 'occupation': 'occupation_code', 'permanent': 'job_stable',
                   'earnings_h': 'hour_earnings', 'earnings_h_usd': 'USD_hour_earnings', 'ln_earnings_h': 'log_hour_earnings', 
                   'ln_earnings_h_usd' : 'USD_log_hour_earnings', 'total_hours_week': 'total_hr_worked_week', 'ISCED_p': 'highest_ISCED_PIAAC', 
                   'highest_field_1': 'degree_field', 'asset_index': 'wealth_index', 'ISCED_dif': 'overqualified', 'm4a_q01':'worked_lastweek', 
                   }

In [8]:
colstep.rename(columns = name_dictionary, inplace=True, copy = True)

/Users/vvroseth/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4238: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(**kwargs)

In [9]:
colstep.head()

,birth_year,in_school,house_type,owns_house,house_beds,house_kitchen,reported_social_status,got_pr_transf,highest_formal_ed,job_sector,...,total_hr_worked_week,underemp,highest_ISCED_PIAAC,years_educ,degree_field,wealth_index,overqualified,country,worked_lastweek,dropout
0,1954,2.0,3,6,5,1,3,2,2.0,NaN,...,0,NaN,3,11.0,NaN,-0.172015,NaN,Colombia,2.0,0.0
1,1976,2.0,3,6,2,1,3,2,4.0,799.0,...,24,0.0,5,13.0,53.0,0.303367,1.0,Colombia,2.0,0.0
2,1951,2.0,1,6,4,1,3,2,3.0,NaN,...,0,NaN,1,8.0,NaN,0.257640,NaN,Colombia,2.0,1.0
3,1972,2.0,3,6,3,1,3,2,7.0,466.0,...,0,NaN,3,14.5,NaN,0.303686,NaN,Colombia,2.0,1.0
4,1989,2.0,1,1,2,1,3,2,2.0,477.0,...,30,0.0,3,11.0,NaN,1.061927,1.0,Colombia,2.0,0.0

### 2. Cleaning of selected variables:

In [10]:
# Looking for the size of the dataset 
colstep.shape

(2617, 89)

In [11]:
# To display as many rows as each selection gives me 
pd.options.display.max_rows

60

In [12]:
# Looking for corrupted values. There are none. 
colstep.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2617 entries, 0 to 2616
Data columns (total 89 columns):
birth_year                2617 non-null int64
in_school                 2592 non-null float64
house_type                2617 non-null int64
owns_house                2617 non-null int64
house_beds                2617 non-null int64
house_kitchen             2617 non-null int64
reported_social_status    2617 non-null int64
got_pr_transf             2617 non-null int64
highest_formal_ed         2593 non-null float64
job_sector                1737 non-null float64
part_in_training          2613 non-null float64
life_satisfaction         2612 non-null float64
offdays_ill               485 non-null float64
healthinsurance           2612 non-null float64
firm_econ_act             1738 non-null float64
main_work                 135 non-null float64
occupation                1736 non-null float64
lowwritting_forjob        1979 non-null float64
speak_other_languaje      2606 non-null float64
lives_w_mother            2606 non-null float64
mother_education          1827 non-null float64
lives_w_father            2606 non-null float64
father_education          2190 non-null float64
ses_15                    2605 non-null float64
read_work                 1975 non-null float64
read_outside              2606 non-null float64
read_overall              2608 non-null float64
write_work                1977 non-null float64
write_outside             2607 non-null float64
write_overall             2608 non-null float64
num_work                  1979 non-null float64
num_outside               2608 non-null float64
numeracy_overall          2608 non-null float64
client_contact_work       1977 non-null float64
comp_work                 1977 non-null float64
comp_outside              2607 non-null float64
computer_use_overall      2607 non-null float64
software_use              1955 non-null float64
think_at_work             1977 non-null float64
learn_at_work             1971 non-null float64
think_learn_work          1971 non-null float64
autonomy_at_work          1977 non-null float64
repetitiveness_at_work    1977 non-null float64
autonomy_repet_work       1977 non-null float64
physical_demand_work      1977 non-null float64
extraversion_av           2606 non-null float64
conscientiousness_avg     2606 non-null float64
openness_av               2606 non-null float64
stability_av              2606 non-null float64
agreeableness_av          2606 non-null float64
grit_av                   2606 non-null float64
decision_av               2606 non-null float64
hostile_av                2606 non-null float64
risk                      2606 non-null float64
has_children              2606 non-null float64
hh_size                   2617 non-null int64
gender                    2617 non-null int64
age                       2617 non-null int64
has_spouse                2617 non-null int64
chronic_disease           2612 non-null float64
shocks_bef_15             2605 non-null float64
BMI                       2516 non-null float64
BMI_class                 2433 non-null float64
parental_involvement      2591 non-null float64
mother_tongue             2606 non-null float64
labor_market_status       2611 non-null float64
inactive_status           593 non-null float64
occupation_code           1978 non-null float64
occtype_step              1978 non-null float64
job_stable                1709 non-null float64
pub_emp                   996 non-null float64
job_type                  1736 non-null float64
contract                  996 non-null float64
benefits                  1709 non-null float64
informal                  1736 non-null float64
hour_earnings             1647 non-null float64
USD_hour_earnings         1647 non-null float64
log_hour_earnings         1647 non-null float64
USD_log_hour_earnings     1647 non-null float64
total_hr_worked_week      2617 non-null int64
underemp                  1738 non-null float64
highest_ISCED_PIAAC       2617 non-null int64
years_educ                2616 non-null float64
degree_field              613 non-null float64
wealth_index              2617 non-null float64
overqualified             1974 non-null float64
country                   2617 non-null object
worked_lastweek           2611 non-null float64
dropout                   2593 non-null float64
dtypes: float64(75), int64(13), object(1)
memory usage: 1.8+ MB

In [13]:
pd.options.display.max_rows = 999

#### 2.1. Addressing null values:

In [14]:
# Looking for null values 
colstep.isnull().sum().sort_values()

birth_year                   0
hh_size                      0
gender                       0
age                          0
total_hr_worked_week         0
highest_ISCED_PIAAC          0
wealth_index                 0
has_spouse                   0
reported_social_status       0
house_type                   0
country                      0
got_pr_transf                0
house_beds                   0
owns_house                   0
house_kitchen                0
years_educ                   1
part_in_training             4
life_satisfaction            5
chronic_disease              5
healthinsurance              5
labor_market_status          6
worked_lastweek              6
num_outside                  9
write_overall                9
numeracy_overall             9
read_overall                 9
comp_outside                10
write_outside               10
computer_use_overall        10
conscientiousness_avg       11
openness_av                 11
stability_av                11
agreeableness_av            11
grit_av                     11
decision_av                 11
hostile_av                  11
extraversion_av             11
risk                        11
has_children                11
mother_tongue               11
speak_other_languaje        11
lives_w_mother              11
lives_w_father              11
read_outside                11
shocks_bef_15               12
ses_15                      12
dropout                     24
highest_formal_ed           24
in_school                   25
parental_involvement        26
BMI                        101
BMI_class                  184
father_education           427
num_work                   638
lowwritting_forjob         638
occupation_code            639
occtype_step               639
autonomy_repet_work        640
repetitiveness_at_work     640
physical_demand_work       640
write_work                 640
client_contact_work        640
comp_work                  640
autonomy_at_work           640
think_at_work              640
read_work                  642
overqualified              643
think_learn_work           646
learn_at_work              646
software_use               662
mother_education           790
firm_econ_act              879
underemp                   879
job_sector                 880
occupation                 881
job_type                   881
informal                   881
job_stable                 908
benefits                   908
USD_hour_earnings          970
log_hour_earnings          970
USD_log_hour_earnings      970
hour_earnings              970
pub_emp                   1621
contract                  1621
degree_field              2004
inactive_status           2024
offdays_ill               2132
main_work                 2482
dtype: int64

In [15]:
# Exploring columns with the most massive missing values
colstep[['main_work', 'pub_emp', 'contract', 'degree_field', 'inactive_status', 'offdays_ill']]

      main_work  pub_emp  contract  degree_field  inactive_status  offdays_ill
0           NaN      NaN       NaN           NaN              1.0          NaN
1           NaN      NaN       NaN          53.0              NaN          NaN
2           NaN      NaN       NaN           NaN              1.0          0.0
3           NaN      NaN       NaN           NaN              1.0          NaN
4           NaN      NaN       NaN           NaN              NaN          NaN
...         ...      ...       ...           ...              ...          ...
2612        NaN      NaN       NaN           NaN              NaN          NaN
2613        NaN      NaN       NaN          47.0              NaN          NaN
2614        NaN      NaN       NaN           NaN              3.0          NaN
2615        NaN      NaN       NaN           NaN              3.0          NaN
2616        NaN      NaN       NaN           NaN              3.0          NaN

[2617 rows x 6 columns]

In [16]:
# 'main_work' has too many null values that can not be imputed. Therefore, it is unusable 
colstep.drop(columns = ['main_work'], inplace = True)

/Users/vvroseth/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4117: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [17]:
# Only people who reported having a chronic illness answered this question. Therefore, it is safe to impute missing values for zeros. 
colstep['offdays_ill'].value_counts()

0.0     365
2.0      29
3.0      22
1.0      12
28.0     11
15.0     10
4.0       9
8.0       9
7.0       6
5.0       5
20.0      2
24.0      1
19.0      1
14.0      1
10.0      1
12.0      1
Name: offdays_ill, dtype: int64

In [18]:
colstep['offdays_ill'].fillna(0, inplace = True)

/Users/vvroseth/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6287: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [19]:
# Only 593 people declared themselves innactive, which explains why there are so many missing values. This means I can impute them all for zeros 
colstep['inactive_status'].value_counts()

1.0    212
3.0    181
2.0     63
4.0     52
8.0     36
5.0     20
7.0     18
6.0     11
Name: inactive_status, dtype: int64

In [20]:
colstep['inactive_status'].fillna(0, inplace = True)

In [21]:
# The degree field has 2004 missing values, or 76% of all values. I'm trying to figure out why. One reason could be that educational attainment is not as high 
# as it needs to be to have a sectorial specialization. In terms of years of education, it seems that 1062 people have less than 11 years which is the equivalent 
# of highschool. This, however, does not explain the absence of information for all 2004 values. 
(colstep['years_educ'] < 11).value_counts()

False    1555
True     1062
Name: years_educ, dtype: int64

In [22]:
# 'degree_field' has too many null values that can not be imputed. Therefore, it is unusable 
colstep.drop(columns = ['degree_field'], inplace = True)

In [23]:
# Exploring whether the null values under contract are related to the type of employment 
colstep['job_type'].value_counts()

1.0    923
2.0    785
3.0     27
9.0      1
Name: job_type, dtype: int64

In [24]:
# Given that the number of null values is identical to the number of people who did not declare themselves as employed, it is safe to impute the null values for zero
colstep['contract'].fillna(0, inplace = True)

In [25]:
# The same logic applies to the public employment column 
colstep['pub_emp'].fillna(0, inplace = True)

In [26]:
# Looking at the null values around earnings. 
colstep[colstep['job_type'] == 1]['hour_earnings'].isnull().sum()

18

In [27]:
colstep[colstep['job_type'] == 2]['hour_earnings'].isnull().sum()

44

In [28]:
colstep[colstep['job_type'] == 3]['hour_earnings'].isnull().sum()

27

In [29]:
colstep['job_type'].isnull().sum()

881

In [30]:
colstep['labor_market_status'].value_counts()

1.0    1739
3.0     593
2.0     279
Name: labor_market_status, dtype: int64

In [31]:
# Looking at the null values around employment status. It seems that only 1034 worked for somebody who
# was not a member of the family 
colstep['worked_lastweek'].value_counts()

2.0    1577
1.0    1034
Name: worked_lastweek, dtype: int64

In [32]:
# Of those who worked, only 979 did so for an employer. This means that the earning data is mostly for those that were employed in a salaried job
# I will inpute those null values for zeros

In [33]:
colstep['hour_earnings'].fillna(0, inplace = True)

In [34]:
colstep['job_stable'].value_counts()

1.0    983
0.0    726
Name: job_stable, dtype: int64

In [35]:
# There are 907 null values under job stability. Given that 1577 people reported working in the previous 
# 7 days week, and we have valid values for 1,710 people in this column, I think it is safe to inpute the
# 907 values for 0 as they probably correspond to those who did not work. 

colstep['job_stable'].fillna(0, inplace = True)

In [36]:
colstep['benefits'].value_counts()

0.0    1070
1.0     639
Name: benefits, dtype: int64

In [37]:
# The same is true for the benefits column  
colstep['benefits'].fillna(0, inplace = True)

In [38]:
# Looking at 4 columns that seems to be related and have a similar number of null values. A quick look at 
# the first 50 rows shows that nulls in job_sector and occupation code do not seem to follow the same 
# pattern as nulls in other columns 
colstep[['firm_econ_act', 'underemp', 'job_sector', 'occupation', 'informal']].isnull().head(1)

   firm_econ_act  underemp  job_sector  occupation  informal
0           True      True        True        True      True

In [39]:
# Looking at 100 values, 50 in the head and 50 in the tail, there seems to be identical patterns in 
# the missing data
colstep[['firm_econ_act', 'underemp', 'informal']].isnull().head(1)

   firm_econ_act  underemp  informal
0           True      True      True

In [40]:
# Looking at the labor market status of respondents. 593 were inactive and 279 were unemployed, which adds 
# up to 872. I can say confidently that the null values for firm_econ_act, underemployment and informality
# can be  inputed for 0 as they correspond to those unemployed or inactive 
colstep['labor_market_status'].value_counts()

1.0    1739
3.0     593
2.0     279
Name: labor_market_status, dtype: int64

In [41]:
colstep['firm_econ_act'].fillna(0, inplace = True)

In [42]:
colstep['underemp'].fillna(0, inplace = True)

In [43]:
colstep['informal'].fillna(0, inplace = True)

In [44]:
# Creating a dataframe for the employed only 
employed = colstep[colstep['labor_market_status'] == 1]

In [45]:
# Looking at the null values among the unemployed. It seems that the occupation code is mostly absent for
# the unemployed, so it is safe to impute those values for zero. 
employed[['job_sector', 'occupation']].isnull().sum()

job_sector    396
occupation      3
dtype: int64

In [46]:
colstep['occupation'].fillna(0, inplace = True)

In [47]:
# Looking at associated questions not included in this dataframe, but included in the survey (m2_q33), it does 
# appear that the job sector is related to those who reported not working. As such, it is safe to impute
# missing values for 999 (o corresponds to armed forces)
colstep['job_sector'].fillna(999, inplace = True)

In [48]:
# Mother and father education have considerable null values. I think it is best to drop these columns 
colstep.drop(columns = ['mother_education', 'father_education'], inplace = True)

In [49]:
# There are two columns that are redundant and have too many missing values. I'll delete them 
colstep.drop(columns = ['lowwritting_forjob', 'occupation_code'], inplace = True)

In [50]:
colstep['autonomy_at_work']

0       NaN
1       2.0
2       NaN
3       NaN
4       3.0
       ...
2612    3.0
2613    NaN
2614    NaN
2615    NaN
2616    NaN
Name: autonomy_at_work, Length: 2617, dtype: float64

In [51]:
# Looking at the questionnaire, only people who reported both working during the previous 7 days and 
# the previous 12 months were asked this portion of the questionnaire. It is therefore appropriate to inpute 
# these values for 0 as they correspond to people who did not use their skills at work. 

colstep['num_work'].fillna(0, inplace = True) 
colstep['occtype_step'].fillna(0, inplace = True) 
colstep['autonomy_repet_work'].fillna(0, inplace = True)                  
colstep['write_work'].fillna(0, inplace = True)              
colstep['physical_demand_work'].fillna(0, inplace = True) 
colstep['repetitiveness_at_work'].fillna(0, inplace = True) 
colstep['think_at_work'].fillna(0, inplace = True) 
colstep['comp_work'].fillna(0, inplace = True)
colstep['autonomy_at_work'].fillna(0, inplace = True)
colstep['client_contact_work'].fillna(0, inplace = True)
colstep['read_work'].fillna(0, inplace = True)              
colstep['overqualified'].fillna(0, inplace = True)
colstep['learn_at_work'].fillna(0, inplace = True)           
colstep['think_learn_work'].fillna(0, inplace = True)
colstep['software_use'].fillna(0, inplace = True)

In [52]:
# Droping parental involvement and BMI class as they have missing values and are not essential to the analysis
colstep.drop(columns = ['BMI_class', 'parental_involvement', 'USD_hour_earnings', 
                        'log_hour_earnings', 'USD_log_hour_earnings'], inplace = True)

In [53]:
# The BMI was calculated using questions about height and weight. 101 did not provide their weight. 
# I think it is safe to replace with the adjacent value

colstep['BMI'].fillna(method='ffill', inplace = True)

In [54]:
# Making a list of remaining, minor, null values I need to address 
null_list = ['years_educ', 'healthinsurance', 'life_satisfaction', 
             'chronic_disease', 'labor_market_status', 'numeracy_overall', 'read_overall', 'write_overall', 
             'num_outside', 'computer_use_overall', 'comp_outside', 'write_outside', 'stability_av',
             'agreeableness_av', 'grit_av', 'openness_av','decision_av', 'hostile_av', 'lives_w_mother',
             'has_children','read_outside', 'lives_w_father', 'conscientiousness_avg', 'speak_other_languaje', 
             'mother_tongue', 'risk', 'extraversion_av', 'ses_15', 'shocks_bef_15',
             'in_school']

In [55]:
# getting the distribution of values in each to decide how to address each 
for variable in null_list: 
    print (variable)
    print (colstep[variable].value_counts())

years_educ
11.0    717
5.0     253
13.0    252
8.0     182
16.0    137
14.0    128
10.0    113
7.0     106
9.0      96
4.0      77
6.0      74
11.5     69
12.0     63
2.0      59
12.5     51
3.0      48
1.0      31
0.0      23
13.5     22
16.5     22
15.0     21
14.5     17
17.0     16
17.5     11
15.5     10
18.0      8
19.0      4
18.5      4
20.0      2
Name: years_educ, dtype: int64
healthinsurance
2.0     1209
1.0     1082
3.0      315
99.0       6
Name: healthinsurance, dtype: int64
life_satisfaction
10.0    658
8.0     618
7.0     402
9.0     384
6.0     209
5.0     199
4.0      80
3.0      34
1.0      19
2.0       9
Name: life_satisfaction, dtype: int64
chronic_disease
0.0    2127
1.0     485
Name: chronic_disease, dtype: int64
labor_market_status
1.0    1739
3.0     593
2.0     279
Name: labor_market_status, dtype: int64
numeracy_overall
2.0    941
1.0    937
3.0    571
0.0    159
Name: numeracy_overall, dtype: int64
read_overall
3.0    951
1.0    810
2.0    583
0.0    264
Name: read_overall, dtype: int64
write_overall
1.0    1374
0.0     513
2.0     468
3.0     253
Name: write_overall, dtype: int64
num_outside
1.0    1137
2.0     714
3.0     474
0.0     283
Name: num_outside, dtype: int64
computer_use_overall
0.0    1241
3.0     902
2.0     238
1.0     226
Name: computer_use_overall, dtype: int64
comp_outside
0.0    1291
3.0     799
2.0     272
1.0     245
Name: comp_outside, dtype: int64
write_outside
1.0    1300
0.0     664
2.0     415
3.0     228
Name: write_outside, dtype: int64
stability_av
2.666667    488
2.000000    454
2.333333    353
3.000000    330
3.333333    260
1.666667    224
3.666667    186
1.333333    136
1.000000     95
4.000000     80
Name: stability_av, dtype: int64
agreeableness_av
3.333333    581
3.000000    491
4.000000    474
2.666667    379
3.666667    354
2.333333    207
2.000000     96
1.666667     21
1.333333      3
Name: agreeableness_av, dtype: int64
grit_av
3.333333    534
3.000000    531
2.666667    469
2.333333    315
3.666667    258
4.000000    247
2.000000    164
1.666667     72
1.333333     12
1.000000      4
Name: grit_av, dtype: int64
openness_av
3.333333    770
3.000000    527
3.666667    361
2.666667    355
4.000000    339
2.333333    157
2.000000     70
1.666667     17
1.333333      8
1.000000      2
Name: openness_av, dtype: int64
decision_av
3.50    426
3.25    400
3.00    371
4.00    296
2.50    289
2.75    280
3.75    233
2.25    165
2.00     85
1.75     38
1.50     19
1.25      3
1.00      1
Name: decision_av, dtype: int64
hostile_av
1.5    761
2.0    724
1.0    686
2.5    223
3.0    188
3.5     15
4.0      9
Name: hostile_av, dtype: int64
lives_w_mother
2.0    1828
1.0     778
Name: lives_w_mother, dtype: int64
has_children
1.0    1421
0.0    1185
Name: has_children, dtype: int64
read_outside
3.0    890
1.0    856
2.0    533
0.0    327
Name: read_outside, dtype: int64
lives_w_father
2.0    2190
1.0     416
Name: lives_w_father, dtype: int64
conscientiousness_avg
3.666667    673
3.333333    571
3.000000    544
4.000000    388
2.666667    221
2.333333    165
2.000000     32
1.666667     11
1.333333      1
Name: conscientiousness_avg, dtype: int64
speak_other_languaje
2.0    2489
1.0     117
Name: speak_other_languaje, dtype: int64
mother_tongue
1.0    2601
0.0       5
Name: mother_tongue, dtype: int64
risk
1.0    1880
4.0     317
2.0     262
3.0     147
Name: risk, dtype: int64
extraversion_av
3.000000    541
3.666667    459
3.333333    432
2.666667    320
2.333333    317
4.000000    243
2.000000    148
1.666667     73
1.333333     57
1.000000     16
Name: extraversion_av, dtype: int64
ses_15
5.0     616
4.0     486
3.0     423
6.0     319
2.0     252
7.0     211
1.0     185
8.0      85
10.0     18
9.0      10
Name: ses_15, dtype: int64
shocks_bef_15
0.0    1346
1.0    1259
Name: shocks_bef_15, dtype: int64
in_school
2.0    2116
1.0     476
Name: in_school, dtype: int64

In [56]:
# Developing a list of variables with nulls to be replaced by zero
replace_wzero = ['job_type','years_educ','chronic_disease', 'numeracy_overall', 'read_overall',
                 'write_overall', 'num_outside', 'computer_use_overall', 'comp_outside', 
                 'write_outside','read_outside', 'dropout', 'in_school']

In [57]:
# Replacing with zero 
for variable in replace_wzero: 
    colstep[variable].fillna(0, inplace = True)

In [58]:
# Developing a list of variables to fill with value of adjacent column 
replace_wffil = ['labor_market_status', 'lives_w_mother','has_children', 'lives_w_father',
                 'speak_other_languaje', 'mother_tongue', 'ses_15', 'shocks_bef_15', 'stability_av',
                 'agreeableness_av', 'grit_av', 'openness_av','decision_av', 'hostile_av', 
                 'conscientiousness_avg', 'risk', 'extraversion_av', 'life_satisfaction', 
                 'part_in_training', 'healthinsurance', 'worked_lastweek']

In [59]:
# Replacing with adjacent value 
for variable in replace_wffil: 
    colstep[variable].fillna(method='ffill', inplace = True)

In [60]:
# Looking at the rema 
colstep.isnull().sum().sort_values()

birth_year                 0
chronic_disease            0
has_spouse                 0
age                        0
gender                     0
hh_size                    0
has_children               0
risk                       0
hostile_av                 0
decision_av                0
grit_av                    0
agreeableness_av           0
stability_av               0
openness_av                0
conscientiousness_avg      0
extraversion_av            0
shocks_bef_15              0
BMI                        0
mother_tongue              0
labor_market_status        0
country                    0
overqualified              0
wealth_index               0
years_educ                 0
highest_ISCED_PIAAC        0
underemp                   0
total_hr_worked_week       0
physical_demand_work       0
hour_earnings              0
benefits                   0
contract                   0
job_type                   0
pub_emp                    0
job_stable                 0
occtype_step               0
inactive_status            0
informal                   0
autonomy_repet_work        0
repetitiveness_at_work     0
autonomy_at_work           0
speak_other_languaje       0
occupation                 0
firm_econ_act              0
healthinsurance            0
offdays_ill                0
life_satisfaction          0
part_in_training           0
job_sector                 0
got_pr_transf              0
reported_social_status     0
house_kitchen              0
house_beds                 0
owns_house                 0
house_type                 0
in_school                  0
lives_w_mother             0
worked_lastweek            0
lives_w_father             0
read_work                  0
think_learn_work           0
learn_at_work              0
think_at_work              0
software_use               0
computer_use_overall       0
comp_outside               0
comp_work                  0
ses_15                     0
client_contact_work        0
num_outside                0
num_work                   0
write_overall              0
write_outside              0
write_work                 0
read_overall               0
read_outside               0
numeracy_overall           0
dropout                    0
highest_formal_ed         24
dtype: int64

In [61]:
# Given that I have two columns that give me the same information, I am droping the one that has null values.
colstep['highest_ISCED_PIAAC'].isnull().sum()

0

In [62]:
colstep.drop(columns=['highest_formal_ed'], inplace = True)

In [63]:
# Looking at the resulting shape after deleting massive null columns 
colstep.shape

(2617, 77)

#### 2.2. Identifying data errors:

In [64]:
# Looking for errors through min and max values
colstep.describe()

,birth_year,in_school,house_type,owns_house,house_beds,house_kitchen,reported_social_status,got_pr_transf,job_sector,part_in_training,...,informal,hour_earnings,total_hr_worked_week,underemp,highest_ISCED_PIAAC,years_educ,wealth_index,overqualified,worked_lastweek,dropout
count,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,...,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000
mean,2012.352694,1.799006,1.875812,3.463890,2.282384,1.103554,2.369507,1.818112,688.632404,1.845243,...,0.419182,3966.811915,30.360718,0.127245,2.739014,9.939243,-0.097332,0.074131,1.602981,0.306076
std,504.529562,0.423993,1.039480,2.291858,0.967815,0.538622,0.886030,0.385826,323.165206,0.361742,...,0.493520,10917.150397,29.157601,0.333311,1.788806,3.855069,0.972718,1.240502,0.489374,0.460950
min,1947.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,11.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.174085,-4.000000,1.000000,0.000000
25%,1964.000000,2.000000,1.000000,1.000000,2.000000,1.000000,2.000000,2.000000,471.000000,2.000000,...,0.000000,0.000000,0.000000,0.000000,1.000000,7.000000,-0.766078,0.000000,1.000000,0.000000
50%,1977.000000,2.000000,1.000000,3.000000,2.000000,1.000000,2.000000,2.000000,842.000000,2.000000,...,0.000000,1989.945557,28.000000,0.000000,3.000000,11.000000,-0.036469,0.000000,2.000000,0.000000
75%,1987.000000,2.000000,3.000000,6.000000,3.000000,1.000000,3.000000,2.000000,999.000000,2.000000,...,1.000000,3925.584473,54.000000,0.000000,3.000000,12.500000,0.679333,1.000000,2.000000,1.000000
max,8888.000000,2.000000,5.000000,6.000000,9.000000,5.000000,7.000000,2.000000,999.000000,2.000000,...,1.000000,225287.359375,133.000000,1.000000,10.000000,20.000000,1.846256,5.000000,2.000000,1.000000

In [65]:
# Birth year has strange maximum values, but I have the age for all values. Therefore I do not need the year of birth anymore.  
colstep[colstep['birth_year'] > 2000]['age']

77      57
184     52
246     36
580     38
589     16
831     20
878     64
888     43
1320    56
1973    48
2083    57
2246    35
2369    32
2513    41
Name: age, dtype: int64

In [66]:
colstep.drop(columns=['birth_year'], inplace=True)

In [67]:
colstep.shape

(2617, 76)

In [68]:
# Organizing transf into one column for public transfers 
transf = Colombia[['m1b_q21_1','m1b_q21_2', 'm1b_q21_3', 'm1b_q21_4', 'm1b_q21_5', 'm1b_q21_6',
       'm1b_q21_7', 'm1b_q21_8', 'm1b_q21_9', 'm1b_q21_10']]

In [69]:
# No is shown as 2 and I need it as 0 to condense just by adding all columns 
transf = transf.replace(2,0)

In [70]:
# Adding all transfer columns 
transf ['got_pu_transf'] = transf['m1b_q21_1'] + transf['m1b_q21_2'] + transf['m1b_q21_3'] + transf[ 'm1b_q21_4'] + transf['m1b_q21_5'] + transf['m1b_q21_6'] + transf['m1b_q21_7'] + transf['m1b_q21_8'] + transf['m1b_q21_9'] + transf['m1b_q21_10']

In [71]:
transf.head()

,m1b_q21_1,m1b_q21_2,m1b_q21_3,m1b_q21_4,m1b_q21_5,m1b_q21_6,m1b_q21_7,m1b_q21_8,m1b_q21_9,m1b_q21_10,got_pu_transf
0,0,0,0,0,0,0,0,0,0,1,1
1,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,1,1
3,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0

In [72]:
# Concatenating transfers column to subset dataframe 
colstep = pd.concat([colstep, 
                  transf['got_pu_transf']],
                  axis = 1)

In [73]:
# Checking the distribution of values
colstep['got_pu_transf'].value_counts()

0    1682
1     719
2     174
3      36
4       6
Name: got_pu_transf, dtype: int64

In [90]:
# Merging all values bigger than 1 as 1 
colstep['got_pu_transf'].replace(2,1, inplace=True)

In [75]:
colstep['got_pu_transf'].replace(3,1, inplace=True)

In [76]:
colstep['got_pu_transf'].replace(4,1, inplace = True)

In [77]:
colstep['got_pu_transf'].value_counts()

0    1682
1     935
Name: got_pu_transf, dtype: int64

In [78]:
colstep['job_sector'].value_counts()

999.0    880
477.0    185
970.0    167
141.0     97
561.0     89
471.0     63
410.0     58
12.0      57
466.0     50
861.0     50
107.0     39
841.0     38
492.0     37
842.0     35
472.0     33
851.0     31
960.0     30
310.0     24
452.0     20
152.0     20
478.0     17
869.0     16
15.0      16
619.0     16
852.0     15
551.0     14
641.0     14
463.0     13
181.0     13
151.0     12
221.0     11
522.0     11
900.0     11
239.0     11
829.0     11
801.0     10
949.0     10
862.0      9
855.0      9
131.0      8
202.0      8
451.0      8
110.0      7
731.0      7
649.0      7
259.0      7
812.0      7
821.0      7
251.0      7
210.0      7
432.0      7
853.0      6
563.0      6
920.0      6
170.0      6
14.0       6
139.0      6
222.0      6
201.0      6
941.0      6
532.0      6
101.0      5
691.0      5
293.0      5
453.0      5
473.0      5
429.0      5
329.0      5
581.0      5
854.0      4
613.0      4
479.0      4
381.0      4
162.0      4
681.0      4
611.0      4
661.0      4
321.0      3
421.0      3
351.0      3
843.0      3
475.0      3
732.0      3
952.0      3
105.0      3
813.0      3
711.0      3
231.0      3
264.0      3
469.0      3
931.0      3
932.0      3
292.0      3
889.0      3
811.0      3
692.0      3
511.0      3
465.0      3
741.0      2
51.0       2
474.0      2
161.0      2
291.0      2
752.0      2
791.0      2
591.0      2
981.0      2
491.0      2
712.0      2
331.0      2
781.0      2
108.0      2
271.0      2
241.0      2
143.0      2
89.0       2
910.0      2
951.0      2
104.0      2
324.0      2
653.0      1
120.0      1
772.0      1
192.0      1
464.0      1
272.0      1
11.0       1
422.0      1
352.0      1
701.0      1
274.0      1
243.0      1
462.0      1
521.0      1
783.0      1
433.0      1
325.0      1
662.0      1
799.0      1
142.0      1
620.0      1
753.0      1
750.0      1
275.0      1
721.0      1
262.0      1
990.0      1
682.0      1
282.0      1
267.0      1
332.0      1
612.0      1
309.0      1
562.0      1
810.0      1
439.0      1
873.0      1
454.0      1
950.0      1
742.0      1
281.0      1
106.0      1
360.0      1
476.0      1
461.0      1
942.0      1
501.0      1
601.0      1
749.0      1
Name: job_sector, dtype: int64

In [79]:
colstep.iloc[:,61:80].describe()

,pub_emp,job_type,contract,benefits,informal,hour_earnings,total_hr_worked_week,underemp,highest_ISCED_PIAAC,years_educ,wealth_index,overqualified,worked_lastweek,dropout,got_pu_transf
count,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000,2617.000000
mean,0.033626,0.987008,0.235766,0.244173,0.419182,3966.811915,30.360718,0.127245,2.739014,9.939243,-0.097332,0.074131,1.602981,0.306076,0.357279
std,0.180300,0.838111,0.424558,0.429678,0.493520,10917.150397,29.157601,0.333311,1.788806,3.855069,0.972718,1.240502,0.489374,0.460950,0.479290
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-3.174085,-4.000000,1.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,7.000000,-0.766078,0.000000,1.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,0.000000,1989.945557,28.000000,0.000000,3.000000,11.000000,-0.036469,0.000000,2.000000,0.000000,0.000000
75%,0.000000,2.000000,0.000000,0.000000,1.000000,3925.584473,54.000000,0.000000,3.000000,12.500000,0.679333,1.000000,2.000000,1.000000,1.000000
max,1.000000,9.000000,1.000000,1.000000,1.000000,225287.359375,133.000000,1.000000,10.000000,20.000000,1.846256,5.000000,2.000000,1.000000,1.000000

In [80]:
# Not a data error per se, but I identified a couple of columns on job tasks that should be 
# included in here. 

additions = Colombia[['present', 'supervise']]

In [81]:
# Looking for null values. It follows the same pattern as other work-related tasks. I'll impute
# these values as I did with the other tasks 
additions.isnull().sum()

present      640
supervise    640
dtype: int64

In [82]:
# Replacing for 0 
additions.fillna(0, inplace = True)

/Users/vvroseth/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4259: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  **kwargs

In [83]:
additions['present'].value_counts()

0.0    2122
1.0     495
Name: present, dtype: int64

In [84]:
additions['supervise'].value_counts()

0.0    1942
1.0     675
Name: supervise, dtype: int64

In [85]:
# Concatenating to the main dataframe 
colstep = pd.concat([colstep, additions], axis = 1)

In [86]:
# Checking it worked 
colstep.columns

Index(['in_school', 'house_type', 'owns_house', 'house_beds', 'house_kitchen',
       'reported_social_status', 'got_pr_transf', 'job_sector',
       'part_in_training', 'life_satisfaction', 'offdays_ill',
       'healthinsurance', 'firm_econ_act', 'occupation',
       'speak_other_languaje', 'lives_w_mother', 'lives_w_father', 'ses_15',
       'read_work', 'read_outside', 'read_overall', 'write_work',
       'write_outside', 'write_overall', 'num_work', 'num_outside',
       'numeracy_overall', 'client_contact_work', 'comp_work', 'comp_outside',
       'computer_use_overall', 'software_use', 'think_at_work',
       'learn_at_work', 'think_learn_work', 'autonomy_at_work',
       'repetitiveness_at_work', 'autonomy_repet_work', 'physical_demand_work',
       'extraversion_av', 'conscientiousness_avg', 'openness_av',
       'stability_av', 'agreeableness_av', 'grit_av', 'decision_av',
       'hostile_av', 'risk', 'has_children', 'hh_size', 'gender', 'age',
       'has_spouse', 'chronic_disease', 'shocks_bef_15', 'BMI',
       'mother_tongue', 'labor_market_status', 'inactive_status',
       'occtype_step', 'job_stable', 'pub_emp', 'job_type', 'contract',
       'benefits', 'informal', 'hour_earnings', 'total_hr_worked_week',
       'underemp', 'highest_ISCED_PIAAC', 'years_educ', 'wealth_index',
       'overqualified', 'country', 'worked_lastweek', 'dropout',
       'got_pu_transf', 'present', 'supervise'],
      dtype='object')

In [87]:
# Taking a look at the final dataframe 
colstep.head()

,in_school,house_type,owns_house,house_beds,house_kitchen,reported_social_status,got_pr_transf,job_sector,part_in_training,life_satisfaction,...,highest_ISCED_PIAAC,years_educ,wealth_index,overqualified,country,worked_lastweek,dropout,got_pu_transf,present,supervise
0,2.0,3,6,5,1,3,2,999.0,2.0,9.0,...,3,11.0,-0.172015,0.0,Colombia,2.0,0.0,1,0.0,0.0
1,2.0,3,6,2,1,3,2,799.0,1.0,9.0,...,5,13.0,0.303367,1.0,Colombia,2.0,0.0,0,1.0,1.0
2,2.0,1,6,4,1,3,2,999.0,2.0,5.0,...,1,8.0,0.257640,0.0,Colombia,2.0,1.0,1,0.0,0.0
3,2.0,3,6,3,1,3,2,466.0,2.0,7.0,...,3,14.5,0.303686,0.0,Colombia,2.0,1.0,0,0.0,0.0
4,2.0,1,1,2,1,3,2,477.0,2.0,7.0,...,3,11.0,1.061927,1.0,Colombia,2.0,0.0,0,0.0,1.0

In [91]:
colstep.isnull().sum()

in_school                 0
house_type                0
owns_house                0
house_beds                0
house_kitchen             0
reported_social_status    0
got_pr_transf             0
job_sector                0
part_in_training          0
life_satisfaction         0
offdays_ill               0
healthinsurance           0
firm_econ_act             0
occupation                0
speak_other_languaje      0
lives_w_mother            0
lives_w_father            0
ses_15                    0
read_work                 0
read_outside              0
read_overall              0
write_work                0
write_outside             0
write_overall             0
num_work                  0
num_outside               0
numeracy_overall          0
client_contact_work       0
comp_work                 0
comp_outside              0
computer_use_overall      0
software_use              0
think_at_work             0
learn_at_work             0
think_learn_work          0
autonomy_at_work          0
repetitiveness_at_work    0
autonomy_repet_work       0
physical_demand_work      0
extraversion_av           0
conscientiousness_avg     0
openness_av               0
stability_av              0
agreeableness_av          0
grit_av                   0
decision_av               0
hostile_av                0
risk                      0
has_children              0
hh_size                   0
gender                    0
age                       0
has_spouse                0
chronic_disease           0
shocks_bef_15             0
BMI                       0
mother_tongue             0
labor_market_status       0
inactive_status           0
occtype_step              0
job_stable                0
pub_emp                   0
job_type                  0
contract                  0
benefits                  0
informal                  0
hour_earnings             0
total_hr_worked_week      0
underemp                  0
highest_ISCED_PIAAC       0
years_educ                0
wealth_index              0
overqualified             0
country                   0
worked_lastweek           0
dropout                   0
got_pu_transf             0
present                   0
supervise                 0
dtype: int64

In [89]:
colstep.to_csv('STEPColombia.csv', index = False)